@model WebApplication3.Models.RegisterViewModel
@{
    ViewBag.Title = "تسجيل الاشتراك";
}


<!-- Default form login------------------------------------------>
<div class="d-flex justify-content-center align-items-center login-container">

    <form action="/Account/Register" class="login-form text-center" method="post" role="form">
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })


        <div class="form-group">
            <input placeholder="UserName" class="form-control" data-val="true" data-val-required="The UserName field is required." id="UserName" name="UserName" type="text" value="" />

        </div>

        <div class="form-group  font-weight-light">
            @Html.DropDownList("UserType")

        </div>


        <div class="form-group">
            @Html.TextBoxFor(m => m.Email,new {@class="form-control form-control-lg",@placeholder="Email"})

        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password,new {@class="form-control form-control-lg",@placeholder="Password"})

        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class="form-control form-control-lg",@placeholder="Confirm Password"})

        </div>
        <div class="form-group">
            <input type="submit" class="form-control form-control-lg" value="Sign Up" />
        </div>
    </form>

</div>

