<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial scale=1" />
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>

    <!--NavBar-->
    <!--Navigation-->
    <header>
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-3 col-lg-2 col-md-10 col-sm-10">
                        <div class="logo">
                            <a href="index.html">
                           
                                <img src="@Url.Content("~/Uploads/logo.png")" alt="body" />

                            </a>
                        </div>
                    </div>

                    <div class="col-xl-9 col-lg-10 col-md-2 col-sm-2">

                        <nav class="navbar navbar-expand-lg  navbar-light">

                            <button class="navbar-toggler" type="button" data-toggle="collapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarResponsive">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="signUp.html">Home</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="details.html">About</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="apply.html">Admin</a>
                                    </li>

                                    <!--Partial Login-->
                                    @Html.Partial("_Login")
                                    <!---------->

                                </ul>
                            </div>
                        </nav>

                    </div>
                </div>

            </div>
        </div>
    </header>

    <!---------------------------------->
     
        @RenderBody()

  
        <!---------------------------------->
        <!--Footer-->
        <!--Socail Media-->
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h2>Connect</h2>
                </div>

                <div class="col-12 social padding">

                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>

                </div>
            </div>
        </div>


        <!--Footer-->

        <footer>

            <div class="container-fluid padding">

                <div class="row text-center">

                    <div class="col-md-4">
                        <hr class="light">
                       
                        <img src="@Url.Content("~/Uploads/logo.png")" alt="body" />
                        <hr class="light">

                        <p>5505500505</p>
                        <p>ayam12@yahoo.com</p>
                        <p>Suez</p>
                    </div>


                    <div class="col-md-4">
                        <hr class="light">
                        <h5>Our Hours</h5>
                        <p>Ayman</p>
                        <p>ayam12@yahoo.com</p>
                        <p>Suez</p>
                    </div>

                    <div class="col-md-4">
                        <hr class="light">
                        <h5>Our Hours</h5>
                        <p>Ayman</p>
                        <p>ayam12@yahoo.com</p>
                        <p>Suez</p>
                    </div>


                    <div class="col-12">
                        <hr class="light">
                        <h5>&copy; Job Ayamn</h5>
                    </div>

                </div>


            </div>

        </footer>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)


</body>
</html>
