@model JobOffers.Models.ApplyForJob

@{
    ViewBag.Title = "DetailsOfJon";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>DetailsOfJon</h2>

<div>
    <h4>ApplyForJob</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.job.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
