@model IEnumerable<JobOffers.Models.ApplyForJob>

@{
    ViewBag.Title = "GetJobByUser";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>جميع الوظائف</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </th>
           <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyDate)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsOfJon", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
