@model IEnumerable<JobOffers.Models.ApplyForJob>

@{
    ViewBag.Title = "GetJobByUser";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="container padding">
    <div class="row padding">


        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@Url.Content("~/Uploads/desk.jpg")" alt="body" />
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.DisplayFor(modelItem => item.job.JobTitle)
                        </h4>
                        <p class="card-text"> Job Description : Job for who knows css,Job for who knows css,Job for who knows css</p>
                        <hr>
                        Message :  @Html.DisplayFor(modelItem => item.Message)
                        <hr>
                        Applied Date :  @Html.DisplayFor(modelItem => item.ApplyDate)
                        <hr>
                        @Html.ActionLink("Details", "Details", new { JobId = item.JobId }, new { @class = "btn btn-outline-primary" })
                  
                        <a href="#"  class="btn btn-danger" onclick="passID(@item.Id)">Cancel Apply</a>
               
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<div class="modal fade" id="myModal">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Cancel Apply</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                <h2>Are you sure ? You want to delete this. </h2>

            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-danger" onclick="DeleteEmployee()">Confirm</a>
            </div>

        </div>

    </div>
    <input type="hidden" id="hiddinAplyID" />

</div>



<script>

    var passID = function (applyID) {
        $("#hiddinAplyID").val(applyID);
        $("#myModal").modal('show');   
    }

    var DeleteEmployee = function () {

        var applyID = $("#hiddinAplyID").val();

        $.ajax({

            type: "POST",
            url: '@Url.Action("DeleteApply", "Home")?applyID=' + applyID,
            success: function (data) {
                if (data.status == "ok") {
                          window.location.reload(true); 
                }
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>


